<table border="1">
  <thead></thead>
  <tbody>
    <% i = 0 %>
    <% 3.times do %>
    <tr>
      <% 3.times do %>
        <td><%= @board[i] || '&nbsp;&nbsp;&nbsp;' %><% i += 1 %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
