<div id="board">
  <table border="1">
    <thead></thead>
    <tbody>
      <% i = 0 %>
      <% 3.times do %>
      <tr>
        <% 3.times do %>
        <td>
          <% val = @game.board[i] %>
          <%= val.empty? ? i : val %>
          <% i += 1 %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<form method="post" action="/move">
  <p><%= @game.turn %>'s move</p>
  <p>Enter square 0-8</p>
  <input type="text" name="square">
  <input type="submit" value="Make Move">
</form>
